<html>
    <body>
        <h1>Json Genisis</h1>
        
        <% for(i=0;i<dados.length;i++){%>
            <p>
                <%=dados[i].idserv %>
                <%=dados[i].img %>
                <%=dados[i].descricao %>
                R$
                <%=dados[i].preco %>
                <%=dados[i].categoria %>
            </p>
        <%}%>
    </body>
</html>